@using WebApp.Models.Helpers;

@{
    ViewBag.Title = "InicioAdmin";
    Layout = "~/Views/Shared/PanelAdmin.cshtml";
}



<h2>InicioAdmin</h2>

<div id="pruebita">

</div>

<script src="~/Scripts/Views/RecuperarContrasena.js"></script>