@using WebApp.Models.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops...</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b50459588c.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/Views/ControlActions.js"></script>

    <link href="~/Content/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />

</head>
<body style="background-color: #f6f6f6">
    <div class="row justify-content-center align-content-center" style="height: 100vh;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <section style="margin: 0 auto;width: 35%;">
                <svg id="fd59ce54-f850-4dfc-bc34-dd7d379d600e" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1074.39 428.75">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #f2f2f2;
                            }

                            .cls-2 {
                                fill: #2f2e41;
                            }

                            .cls-3, .cls-7 {
                                fill: #f1c40f;
                            }

                            .cls-4 {
                                fill: none;
                                stroke: #3f3d56;
                                stroke-miterlimit: 10;
                            }

                            .cls-5 {
                                fill: #57b894;
                            }

                            .cls-6 {
                                fill: #fff;
                            }

                            .cls-7 {
                                opacity: 0.3;
                                isolation: isolate;
                            }
                        </style>
                    </defs>
                    <ellipse class="cls-1" cx="540.64" cy="393.83" rx="527.5" ry="34.92" />
                    <path class="cls-2" d="M520.43,167c-85.95,0-147.66,55.14-147.66,183.8,0,145.81,61.71,184.41,147.66,184.41s151.32-42.28,151.32-184.41C671.75,198.87,606.37,167,520.43,167ZM521,486.82c-59.53,0-90.63-34.92-90.63-135.92,0-89.11,32.38-136.1,91.9-136.1s91.9,30.86,91.9,136.1C614.16,449.35,580.52,486.82,521,486.82Z" transform="translate(0 -155.48)" />
                    <path class="cls-3" d="M321.31,433.52H285.78V328.88a21,21,0,0,0-21-21h-8.33a21,21,0,0,0-21,21h0V433.52H135.31A12,12,0,0,1,124.73,416L230.81,215.18a20.94,20.94,0,0,0-8.74-28.31q-.4-.23-.84-.42l-6.26-3a21,21,0,0,0-27.43,9.07l-129.38,242A28.45,28.45,0,0,0,54.8,448h0A28.42,28.42,0,0,0,83.22,476.4H235.54v66.17a25.12,25.12,0,0,0,25.12,25.12h0a25.12,25.12,0,0,0,25.12-25.12h0V476.4h35.53A21.44,21.44,0,0,0,342.75,455h0a21.44,21.44,0,0,0-21.44-21.44Z" transform="translate(0 -155.48)" />
                    <path class="cls-3" d="M979.31,433.52H943.77V328.88a21,21,0,0,0-20.95-21h-8.33a21,21,0,0,0-21,21h0V433.52H793.31A12,12,0,0,1,782.73,416L888.81,215.18a21,21,0,0,0-8.74-28.31l-.84-.42-6.26-3a21,21,0,0,0-27.43,9.07l-129.38,242A28.33,28.33,0,0,0,712.8,448h0a28.41,28.41,0,0,0,28.42,28.41H893.54v66.17a25.12,25.12,0,0,0,25.11,25.12h0a25.12,25.12,0,0,0,25.12-25.12h0V476.4h35.54A21.44,21.44,0,0,0,1000.75,455h0a21.44,21.44,0,0,0-21.44-21.44Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M331.11,421.26H295.58V316.62a21,21,0,0,0-21-20.95H266.3a21,21,0,0,0-21,20.95h0V421.26H145.11a12,12,0,0,1-10.58-17.55L240.62,202.93a21,21,0,0,0-8.74-28.32l-.84-.42-6.27-2.95a21,21,0,0,0-27.43,9.07L68,422.34a28.43,28.43,0,0,0-3.35,13.39h0A28.41,28.41,0,0,0,93,464.15H245.34v66.17a25.12,25.12,0,0,0,25.12,25.12h0a25.12,25.12,0,0,0,25.12-25.12h0V464.15h35.53a21.44,21.44,0,0,0,21.45-21.44h0A21.45,21.45,0,0,0,331.11,421.26Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M997.69,421.26H962.15V316.62a21,21,0,0,0-20.95-20.95h-8.33a21,21,0,0,0-21,20.95h0V421.26H811.69a12,12,0,0,1-10.58-17.55L907.19,202.93a21,21,0,0,0-8.74-28.32l-.84-.42-6.26-2.95a21,21,0,0,0-27.43,9.07l-129.38,242a28.32,28.32,0,0,0-3.36,13.39h0a28.41,28.41,0,0,0,28.42,28.42H911.92v66.17A25.12,25.12,0,0,0,937,555.44h0a25.12,25.12,0,0,0,25.12-25.12h0V464.15h35.54a21.44,21.44,0,0,0,21.44-21.44h0a21.44,21.44,0,0,0-21.44-21.45Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M540,156c-85.94,0-147.65,55.14-147.65,183.8,0,145.81,61.71,184.41,147.65,184.41s151.33-42.27,151.33-184.41C691.36,187.84,626,156,540,156Zm.57,319.81c-59.53,0-90.63-34.92-90.63-135.92,0-89.11,32.37-136.1,91.9-136.1s91.9,30.87,91.9,136.1c0,98.45-33.65,135.92-93.17,135.92Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M1006.86,419.55a20.81,20.81,0,1,0,2.78-39.92l.52,10.72-5.07-9.18a20.71,20.71,0,0,0-10.69,11.72,20.42,20.42,0,0,0-1.19,5.63A20.8,20.8,0,0,0,1006.86,419.55Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M1031.94,543.79c-1.79-9.11,6-17.18,13.62-22.43S1062.17,511,1064.78,502c3.75-12.8-7.43-24.53-16.14-34.64a125.94,125.94,0,0,1-16.52-24.56c-1.81-3.53-3.48-7.22-3.95-11.17-.69-5.67,1.14-11.32,3-16.73q9.18-27.06,19.63-53.65" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M1007.72,416.79a20.81,20.81,0,1,0,2.77-39.91l.52,10.71-5.06-9.18a20.8,20.8,0,0,0,1.77,38.38Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M1029.4,357.59a20.77,20.77,0,0,1,15-13.2l1.71,10.18,3.18-10.69a20.83,20.83,0,1,1-19.87,13.71Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M1030.54,353.91a20.79,20.79,0,0,1,15-13.2l1.71,10.19,3.18-10.7a20.83,20.83,0,1,1-19.87,13.71Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M1045,467.6a20.81,20.81,0,0,0,18.42-37L1061,438.8l-1.73-10.3-.06,0A20.81,20.81,0,0,0,1045,467.6Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M1046,463.88a20.81,20.81,0,0,0,18.42-37l-2.44,8.22-1.73-10.31-.06,0a20.81,20.81,0,0,0-14.2,39.13Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M1023.32,502.17a20.8,20.8,0,1,0,4-16.3l9.28,14-12.67-7.41A20.52,20.52,0,0,0,1023.32,502.17Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M1024.18,499.41a20.8,20.8,0,1,0,4-16.3l9.27,14-12.67-7.41A20.64,20.64,0,0,0,1024.18,499.41Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M9,470.25A13.67,13.67,0,1,0,10.83,444l.34,7-3.33-6a13.66,13.66,0,0,0-7,7.7A13.66,13.66,0,0,0,9,470.25Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M25.48,551.88c-1.17-6,3.92-11.29,9-14.74s10.91-6.84,12.63-12.69c2.47-8.42-4.88-16.12-10.6-22.76A82.09,82.09,0,0,1,25.6,485.55a22.28,22.28,0,0,1-2.6-7.34c-.45-3.72.75-7.43,2-11q6-17.78,12.9-35.25" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M9.57,468.44a13.68,13.68,0,1,0,1.82-26.23l.34,7-3.33-6a13.63,13.63,0,0,0-7,7.7,13.42,13.42,0,0,0-.78,3.7A13.68,13.68,0,0,0,9.57,468.44Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M23.81,429.54a13.66,13.66,0,0,1,9.84-8.67l1.13,6.69,2.09-7A13.67,13.67,0,1,1,23,434,13.85,13.85,0,0,1,23.81,429.54Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M24.56,427.12a13.66,13.66,0,0,1,9.85-8.67l1.12,6.69,2.09-7a13.67,13.67,0,1,1-13.88,13.46A13.85,13.85,0,0,1,24.56,427.12Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M34.06,501.82a13.67,13.67,0,0,0,12.1-24.32l-1.6,5.4-1.14-6.77,0,0A13.68,13.68,0,1,0,34,501.81Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M34.71,499.37a13.67,13.67,0,0,0,12.1-24.32l-1.6,5.4-1.14-6.77h0a13.67,13.67,0,0,0-9.32,25.7Z" transform="translate(0 -155.48)" />
                    <path class="cls-5" d="M19.82,524.53a13.68,13.68,0,1,0,2.64-10.71L28.55,523l-8.33-4.87A13.65,13.65,0,0,0,19.82,524.53Z" transform="translate(0 -155.48)" />
                    <path class="cls-4" d="M20.39,522.72A13.66,13.66,0,1,0,23,512l6.09,9.17-8.32-4.87A13.39,13.39,0,0,0,20.39,522.72Z" transform="translate(0 -155.48)" />
                    <ellipse class="cls-2" cx="480.95" cy="163.63" rx="17" ry="22" />
                    <ellipse class="cls-2" cx="573.45" cy="164.13" rx="17" ry="22" />
                    <path class="cls-2" d="M560.45,384.62c0,9.94-13.88,18-31,18s-31-8.06-31-18c0-8.61,10.41-15.81,24.32-17.57a48,48,0,0,1,6.68-.43,50.26,50.26,0,0,1,11.13,1.2C552.2,370.41,560.45,377,560.45,384.62Z" transform="translate(0 -155.48)" />
                    <ellipse class="cls-4" cx="484.95" cy="158.63" rx="17" ry="22" />
                    <ellipse class="cls-4" cx="577.45" cy="159.13" rx="17" ry="22" />
                    <ellipse class="cls-4" cx="533.45" cy="224.13" rx="31" ry="18" />
                    <path class="cls-6" d="M541,369.32a5,5,0,0,1-1.32,3.39,4.37,4.37,0,0,1-3.18,1.41h-10a4.66,4.66,0,0,1-4.5-4.8,4.9,4.9,0,0,1,.82-2.75,49.32,49.32,0,0,1,17.81.83A5.25,5.25,0,0,1,541,369.32Z" transform="translate(0 -155.48)" />
                    <circle class="cls-6" cx="484.95" cy="152.63" r="5" />
                    <circle class="cls-6" cx="577.95" cy="152.63" r="5" />
                    <circle class="cls-7" cx="582.95" cy="199.63" r="5" />
                    <circle class="cls-7" cx="460.95" cy="199.63" r="5" />
                </svg>
            </section>
            <h4 style="text-align: center; margin-top: 3em">Oops...</h4>
            <h5 style="text-align: center;text-align: center;width: 60%;display: block;margin: 0 auto;">Parece que no estas autorizado para ver este sitio. Inicia sesión para poder ver más contenido.</h5>
            @Html.ActionLink("Iniciar sesión", "InicioSesion", "Home", new { @class = "btn btn-link link btnDisplayBlock" })

        </div>
    </div>
    
    <script src="~/Scripts/Views/SessionManager.js"></script>
</body>
</html>