@using WebApp.Models.Helpers;
<script src="~/Scripts/Views/vComercioInactivo.js"></script>
<script src="~/Scripts/Views/vComerciosActivos.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/reset.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/theme.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
<script src="~/Content/Chart.min.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>

@{
    Layout = "~/Views/Shared/PanelAdmi.cshtml";
}
<div>
    @Html.CtrlTable(viewName: "vComercios", id: "tblComercio", title: "Comercios Activos",
        columnsTitle: "CedulaJuridica,CedulaDueno,IdDireccion,IdCategoria,Regimen,Telefono,Horario,Membresia,DireccionEscrita,NombreComercial,Estado,Supervisor", ColumnsDataName: "CedulaJuridica,CedulaDueno,IdDireccion,IdCategoria,Regimen,Telefono,Horario,Membresia,DireccionEscrita,NombreComercial,Estado,Supervisor", onSelectFunction: "BindFields", colorHeader: "red")
</div>
<div>
    @Html.CtrlTable(viewName: "vComercios", id: "tblUsuarioInactivo", title: "Comercios Inactivos",
        columnsTitle: "CedulaJuridica,CedulaDueno,IdDireccion,IdCategoria,Regimen,Telefono,Horario,Membresia,DireccionEscrita,NombreComercial,Estado,Supervisor", ColumnsDataName: "CedulaJuridica,CedulaDueno,IdDireccion,IdCategoria,Regimen,Telefono,Horario,Membresia,DireccionEscrita,NombreComercial,Estado,Supervisor", onSelectFunction: "BindFields", colorHeader: "red")
</div>

