
@{
    ViewBag.Title = "ConfigUsuarioFinal";
    Layout = "~/Views/Shared/PanelUsuarioFinal.cshtml";
}

<link href="~/Content/configUsuario.css" rel="stylesheet" />

<h2 class="dashboardTitle">Mi perfil</h2>


<div class="jumbotron infoCard">
    <img src="~/Content/img/usuario-index.png" class="profilePhoto">
</div>


